```{=html}
<div class="research project-list">
<ul class="list">
    <% for (const item of items) { %>
        <li class="project" <%=metadataAttrs(item) %>>
            <div class="project-content listing-pub-info">
                <p><%= item['pub-info']['reference'] %></p>
            </div>

            <% if(item.categories) { %>
            <div class="project-categories">
                <% for (const cat of item.categories) { %>
                    <div class="project-category"><a href="#category=<%= cat %>">
                            <%= cat %>
                        </a></div>
                    <% } %>
            </div>
            <% } %>
            <% if(item.path || item['pub-info']['links']) { %>
                <div class="project-details-listing">
                    <ul class="project-links">
                        <% if (item.path) { %>
                        <li class="project-link details">
                            <a href="<%- item.path %>" class="listing-name">
                                <i class="fa-solid fa-circle-info"></i> Full details »
                            </a>
                        </li>
                        <% } %>
                        <% if (item['pub-info'].links) { %>
                            <% for (const link of item['pub-info'].links) { %>
                        <li class="project-link">
                            <% if (link.local) { %>
                            <a href="<%- item.path.substring(0, item.path.lastIndexOf('/')) %>/<%- link.url %>">
                            <% } else { %>
                            <a href="<%- link.url %>">
                            <% } %>
                                <i class="<%- link.icon %>"></i> <%= link.name %>
                            </a>
                        </li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
            <% } %>
        </li>
        <% } %>
</ul>
</div>
```